
//prova palette
$primary: #ecb390;
$background: #fcf8f8;
$secondary: #df7861;
$accent: #94b49f;
$text:  #5a5a5a;

$transparent: #ecb390ad;

// $primary: #ecb390;
// $background: #fcf8f8;
// $secondary: #df7861;
// $accent: #94b49f;
// $text:  #5a5a5a;

// $transparent: #ecb390ad;

//prova palette due
// $primary: #a7bbc7;
// $background: #fcf8f8;
// $secondary: #e1e5ea;
// $accent: #da7f8f;
// $text:  #303030;

// $transparent: #a7bbc7ad;
